<%= bootstrap_form_for(@bike_rack) do |f| %>
  <% if @bike_rack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bike_rack.errors.count, "error") %> prohibited this bike_rack from being saved:</h2>

      <ul>
      <% @bike_rack.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.number_field :latitude %>
  </div>
  <div class="field">
    <%= f.number_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
