<p id="notice"><%= notice %></p>

<h1>Listing Bike Racks</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bike_racks.each do |bike_rack| %>
      <tr>
        <td><%= bike_rack.address %></td>
        <td><%= bike_rack.quantity %></td>
        <td><%= link_to 'Show', bike_rack %></td>
        <td><%= link_to 'Edit', edit_bike_rack_path(bike_rack) %></td>
        <td><%= link_to 'Destroy', bike_rack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bike rack', new_bike_rack_path %>
