<head>
<style>
.voffset4 { margin-top: 30px; }
</style>
</head>

<div class="container">

  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">

      <div class="row">
        <div class="col-xs-2">
          <div class="voffset4"></div>
          <% if logged_in? && admin? %>
          <%= link_to 'New Bike rack', new_bike_rack_path, class: 'btn btn-default' %> 
          <% end %>
        </div>
        <div class="col-xs-8">
          <h1 id="title">Bike Racks - Total:<%= BikeRack.all.count %></h1>
        </div>
        <div class="col-xs-2">
          <div class="voffset4"></div>
          <% if logged_in? && admin? %>
          <%= button_to "Populate", bikeracks_populateBRData_path, class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>

      <div class="row">

        <table class="table table-condensed table-striped" border="1">
          <thread>
            <tr>
              <th>Address</th> 
              <th>Quantity</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Actions</th>
            </tr>
          </thread>  
          <tbody>
            <% @bike_racks.each do |bike_rack| %>
            <tr>
              <td><%= BikeRack.shortenLocation(bike_rack.address) %></td>
              <td><%= bike_rack.quantity %></td>
              <td><%= bike_rack.latitude %></td>
              <td><%= bike_rack.longitude %></td>
              <td><%= link_to 'Show', bike_rack %>
                <% if logged_in? && admin? %>
                  <%= link_to 'Edit', edit_bike_rack_path(bike_rack) %>
                  <%= link_to 'Destroy', bike_rack, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>

    <div class="col-xs-1"></div>

  </div>
</div>
