
<%= render 'shared/nav'%>

<p id="notice"><%= notice %></p>

<h1>Listing Bike Racks :: Total:<%= BikeRack.all.count %></h1>



<table border="1" style="width:60%; margin-left:1%">
  <tr>
    <th>Address</th> 
    <th>Quantity</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Actions</th>
  </tr>
  
  <tbody>
    <% @bike_racks.each do |bike_rack| %>
    <tr>
      <td><%= BikeRack.shortenLocation(bike_rack.address) %></td>
      <td><%= bike_rack.quantity %></td>
      <td><%= bike_rack.latitude %></td>
      <td><%= bike_rack.longitude %></td>
      <td><%= link_to 'Show', bike_rack %>
        <% if logged_in? %>
          <% if admin? %>
            <%= link_to 'Edit', edit_bike_rack_path(bike_rack) %>
            <%= link_to 'Destroy', bike_rack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

</table>




<%= link_to "<< Back to Home", root_path %>



<% if logged_in? %>
  <% if admin? %>
    <%= link_to 'New Bike rack', new_bike_rack_path %>
    <%= button_to "Populate", bikeracks_populateBRData_path %>
  <% end %>
<% end %>

