<%= render 'shared/nav'%>

<p id="notice"><%= notice %></p>


<style>
p, img  {
    position: relative;
    right: -10px;
}
</style>




<p>
  <strong>Address:</strong>
  <%= shortenLocation(@bike_rack.address) %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @bike_rack.quantity %>
</p>


<p>
  <strong>Latitude:</strong>
  <%= @bike_rack.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @bike_rack.longitude %>
</p>




<html>
<body>


<% latLonArr = parseLatLon(@bike_rack) %>
<% html = imgStr(latLonArr) %>

<% img_height = 150 %>

<img src=<%= html %> alt="Lamp" width=<%= img_height.to_s %> height=<%= img_height.to_s %> >

</body>
</html>

<!-- add 200 to height for positioning -->
<DIV style="position: absolute; top:350px; left:10px; width:200px; height:25px">

<%= link_to 'Edit', edit_bike_rack_path(@bike_rack) %> |
<%= link_to 'Back', bike_racks_path %>
</DIV>



