
<%= render 'shared/nav'%>

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <p>
        <strong>Address:</strong>
        <%= BikeRack.shortenLocation(@bike_rack.address) %>
      </p>
      <p>
        <strong>Quantity:</strong>
        <%= @bike_rack.quantity %>
      </p>
      <p>
        <strong>Latitude:</strong>
        <%= @bike_rack.latitude %>
      </p>
      <p>
        <strong>Longitude:</strong>
        <%= @bike_rack.longitude %>
      </p>
      
      <%= link_to 'Edit', edit_bike_rack_path(@bike_rack) %> |
      <%= link_to 'Back', bike_racks_path %>
    </div>
    <div class="col-xs-9">
      <html>
        <body>

          <% latLonArr = BikeRack.parseLatLon(@bike_rack) %>
          <% html = BikeRack.imgStr(latLonArr) %>

          <% img_height = 600 %>
          
          <img src=<%= html %> alt="Lamp" width=<%= img_height.to_s %> height=<%= img_height.to_s %> >

        </body>
      </html>
    </div>
  </div>
</div>

<% if logged_in? %>
  <%- unless current_user.favorite_bike_racks.exists?(id: @bike_rack.id) -%>
  <%= link_to 'Add to favorites', favorite_bike_racks_path(bike_rack_id: @bike_rack), method: :post %>
  <%- else -%>
  <%= link_to 'Remove from favorites', favorite_bike_rack_path(@bike_rack), method: :delete %>
  <%- end -%>
<% end %>




