<%= form_for(@water_fountain) do |f| %>
  <% if @water_fountain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@water_fountain.errors.count, "error") %> prohibited this water_fountain from being saved:</h2>

      <ul>
      <% @water_fountain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :lat %><br>
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lon %><br>
    <%= f.text_field :lon %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
