<%= render 'shared/nav'%>

<p id="notice"><%= notice %></p>

<head>
<style>
.voffset4 { margin-top: 30px; }
</style>
</head>

<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="row">
        <div class="col-xs-2">        
          <div class="voffset4"></div>
          <% if logged_in? && admin? %>
            <%= link_to 'New Water fountain', new_water_fountain_path, class: 'btn btn-default' %>
          <% end %>
        </div>
        <div class="col-xs-8">
        <h1 id="title">Water Fountains - Total: <%= WaterFountain.all.count %></h1>
        </div>
        <div class="col-xs-2">
          <div class="voffset4"></div>
          <% if logged_in? && admin? %>
            <%= button_to "Populate", waterfountains_populateWFData_path, class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>

      <div class="row">

        <table class="table table-condensed table-striped" border="1">
          <tr>
            <th>Location</th> 
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Actions</th>
          </tr>
          <tbody>
            <% @water_fountains.each do |water_fountain| %>
            <tr>
              <td><%= WaterFountain.shortenLocation(water_fountain.location) %></td>
              <td><%= water_fountain.lat %></td>
              <td><%= water_fountain.lon %></td>
              <td><%= link_to 'Show', water_fountain %>
                <% if logged_in? && admin? %>
                  <%= link_to 'Edit', edit_water_fountain_path(water_fountain) %>
                  <%= link_to 'Destroy', water_fountain, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>

    <div class="col-xs-1"></div>

  </div>
</div>

