
<%= render 'shared/nav'%>

<p id="notice"><%= notice %></p>

<h1>Listing Water Fountains :: Total: <%= WaterFountain.all.count %></h1>



<table border="1" style="width:60%; margin-left:1%">
  <tr>
    <th>Location</th> 
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Actions</th>
  </tr>

  <tbody>
    <% @water_fountains.each do |water_fountain| %>
      <tr>
        <td><%= WaterFountain.shortenLocation(water_fountain.location) %></td>
        <td><%= water_fountain.lat %></td>
        <td><%= water_fountain.lon %></td>
        <td><%= link_to 'Show', water_fountain %>
        <%= link_to 'Edit', edit_water_fountain_path(water_fountain) %>
        <%= link_to 'Destroy', water_fountain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</table>



<br>

<%= link_to "<< Back to Home", root_path %>

<%= link_to 'New Water fountain', new_water_fountain_path %>

<%= button_to "Populate", waterfountains_populateWFData_path %>
