<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry"></script>







<div class="row"><!-- input-group -->
  <div class="col-md-4"></div>
  <div class="col-md-5">
    <div div="panel">
      <div class="input-group">
      	<span class="input-group-btn">
          <button class="btn btn-default" type="button" onclick="codeAddress()">Find water fountains!</button>
      	</span>
        <form onsubmit="codeAddress(); return false">
      	  <input id="address" class="form-control" placeholder="Enter address in Vancouver BC...">
        </form>
      </div><!-- /input-group -->
    </div>
  </div>
  <div class="col-md-3">
    <button class="btn btn-default" type="button" onclick="showFavourites()">Show Favourites!</button>
  </div>
</div>

<div id="map-container">
  <div id="map"></div>
</div>

<script>
var geocoder;
var map;
var markers = [];
var wf = (<%=raw  @water_fountains.to_json %>);


var myLatLng = new google.maps.LatLng(49.279621, -123.125496);
var myBounds = new google.maps.LatLngBounds(
		      new google.maps.LatLng(49.195335, -123.244972),
		      new google.maps.LatLng(49.292609, -122.965508));
var infowindow = new google.maps.InfoWindow();

function showFavourites() {

if (<%= !logged_in? %>) {
  window.location.href = "/login";
}

if (<%= logged_in? %>) {

var favWF = (<%=raw @user.favorite_water_fountains.to_json %>);
deleteMarkers();

geocoder.geocode( { 'address': "300 homer st Vancouver"}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
    	if(myBounds.contains(results[0].geometry.location)){
	      
	      var counter = 0;
	      var radius = 1000;

	      for(i = 0; i < favWF.length; i++) {
	      	var fountain = favWF[i];
          var str = fountain.location;
          var sid = fountain.id;
          var fountainlocation = str.substring(str.indexOf(":") + 1);
	      	var fountainLatLng = new google.maps.LatLng(fountain.lat, fountain.lon);

	      	  counter++;
	      		var marker = new google.maps.Marker({
	      			map: map,
	      			position: fountainLatLng,
              info: fountainlocation,
              id: sid,
              animation: google.maps.Animation.DROP
	      		});

            markers.push(marker);


            google.maps.event.addListener(marker, 'click', function(id) {
              infowindow.setContent('<p>Fountain Location: '+ this.info +'</p>' +
                '<row> <button onclick="get_info('+ this.id +')">Show</button> <button onclick="myFunction()">Tweet</button> <a rel="nofollow" data-method="post" href="/favorite_water_fountains?water_fountain_id='+this.id+'">Add to favorites</a></row>');
              infowindow.open(map, this);
            });

	      	
	      }
	      if(counter == 0){
	        alert("No water fountains in favorite list!");
	      }

	  } else {
	  	alert("Sorry, something broke..");
	  }
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });

}
}

function initialize() {
  geocoder = new google.maps.Geocoder();
    map = new google.maps.Map(document.getElementById('map'), {
    zoom: 11,
    center: myLatLng,
    mapTypeId: google.maps.MapTypeId.TERRAIN
  });


}

function computeDistance(pt1, pt2){
	return google.maps.geometry.spherical.computeDistanceBetween(pt1, pt2);
};

// Deletes all markers in the array by removing references to them.
  function deleteMarkers() {
        //Loop through all the markers and remove
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
    };

//The following function is to favourite water fountains
var get_info = function(id){
  if(<%= logged_in? %>){
    window.location.href="/water_fountains/"+id;
  } else {
    window.location.href="/signup";
  }
};

//The following js functions are based on the Google Maps API Samples
  function codeAddress() {
    deleteMarkers();
  var address = document.getElementById('address').value;
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
    	if(myBounds.contains(results[0].geometry.location)){
	      map.setCenter(results[0].geometry.location);
        map.setZoom(14);
	      
	      var counter = 0;
	      var radius = 1000;

	      for(i = 0; i < wf.length; i++) {
	      	var fountain = wf[i];
          var str = fountain.location;
          var sid = fountain.id;
          var fountainlocation = str.substring(str.indexOf(":") + 1);
	      	var fountainLatLng = new google.maps.LatLng(fountain.lat, fountain.lon);
	      	if(computeDistance(results[0].geometry.location, fountainLatLng) < radius){
	      	  counter++;
	      		var marker = new google.maps.Marker({
	      			map: map,
	      			position: fountainLatLng,
              info: fountainlocation,
              id: sid,
              animation: google.maps.Animation.DROP
	      		});

            markers.push(marker);

            google.maps.event.addListener(marker, 'click', function(id) {
              infowindow.setContent('<p>Fountain Location: '+ this.info +'</p>' +

                '<row> <button onclick="get_info('+ this.id +')">Info</button> <button onclick="myFunction()">Tweet</button> <a rel="nofollow" data-method="post" href="/favorite_water_fountains?water_fountain_id='+this.id+'">Add to favorites</a></row>');

              infowindow.open(map, this);
            });

	      	}
	      }
	      if(counter == 0){
	        alert("No water fountains in this location");
	      }

	  } else {
	  	alert("Sorry, we don't cover this area.... yet!");
	  }
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

google.maps.event.addDomListener(window, 'load', initialize);






    </script>
