
<%= render 'shared/nav'%>

<p id="notice"><%= notice %></p>



<style>
p, img  {
    position: relative;
    right: -10px;
}
</style>


<p>
  <strong>Location:</strong>
  <%= WaterFountain.shortenLocation(@water_fountain.location) %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @water_fountain.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @water_fountain.lon %>
</p>



<html>
<body>

  <% latLonArr = WaterFountain.parseLatLon(@water_fountain) %>
  <% html = WaterFountain.imgStr(latLonArr) %>

<% img_height = 150 %>

<img src=<%= html %> alt="Lamp" width=<%= img_height.to_s %> height=<%= img_height.to_s %> >

</body>
</html>

<DIV style="position: absolute; top:320px; left:10px; width:200px; height:25px">
<%= link_to 'Edit', edit_water_fountain_path(@water_fountain) %> |
<%= link_to 'Back', water_fountains_path %>
</DIV>
