<div class="container">
  <div class="row">
    <div class="col-xs-3">
<div class="row">

      <div class="row">
        <strong>Location:</strong>
        <%= WaterFountain.shortenLocation(@water_fountain.location) %>
      </div>
      <div class="voffset2"></div>
      <div class="row">
        <strong>Lat:</strong>
        <%= @water_fountain.lat %>
      </div>
      <div class="voffset2"></div>
      <div class="row">
        <strong>Lon:</strong>
        <%= @water_fountain.lon %>
      </div>
      <div class="voffset2"></div>
      <div class="row">
<% if logged_in? %>        
<%- unless current_user.favorite_water_fountains.exists?(id: @water_fountain.id) -%>
<%= link_to 'Add to favorites', favorite_water_fountains_path(water_fountain_id: @water_fountain), method: :post %>
<%- else -%>
<%= link_to 'Remove from favorites', favorite_water_fountain_path(@water_fountain), method: :delete %>
<%- end -%>
<% end %>

      </div>
      <div class="voffset2"></div>
      <div class="row">
      <%= link_to 'Edit', edit_water_fountain_path(@water_fountain) %> |
      <%= link_to 'Back', water_fountains_path %>
      </div>
</div>
      
    </div>
    <div class="col-xs-9">
      <html>
        <body>

          <% latLonArr = WaterFountain.parseLatLon(@water_fountain) %>
          <% html = WaterFountain.imgStr(latLonArr) %>

          <% img_height = 600 %>

          <img src=<%= html %> alt="Lamp" width=<%= img_height.to_s %> height=<%= img_height.to_s %> >
          
        </body>
      </html>
    </div>
  </div>
</div>
